!!!
%html{lang: "ja"}
  %head
    %meta{ charset: "utf-8" }
    %title= @title || "あしあと日記"
    %meta{ name: "twitter:card", content: "summary" }
    %meta{ name: "twitter:site", content: "@youchan" }
    %meta{ property: "og:url", content: request.url }
    %meta{ property: "og:title", content: "あしあと日記" }
    %meta{ property: "og:description", content: @title || "あしあと日記" }
    %meta{ property: "og:image", content: url("/images/youchan_square.jpg") }

    %link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css")
    = stylesheet_tag 'application'

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-72552300-2', 'auto');
      ga('send', 'pageview');

  %body
    %main.wrapper
      %nav.navigation
        %section.container
          %a.navigation-title{ href: '/' }
            %img.logo{ src: asset_path('/images/footstep.png') }
          %a.float-right{ href: 'http://youchan.org' }
            %img.icon{ src: '/images/youchan_square.jpg' }
      %section.content.container
        - if @error
          .error-message
            %p= @error
        - @contents.each_with_index do |data, i|
          - if i > 0
            %hr
          %h2.date
            %a{ href: "/#{data[:date]}" }= data[:date]
          - data[:entries].each do |entry|
            .entry
              %h1
                %a{ href:"/#{data[:date]}/#{entry[:title]}" }= preserve(markdown.render(entry[:title]))
              = preserve(markdown.render(entry[:content]))
